<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="40" class="card">
        <mat-card-header fxLayoutAlign="center" class="header">
            Login
        </mat-card-header>
        <mat-card-content class="body">
            <form fxLayout="column">
                <mat-form-field>
                  <mat-label>Employee ID:</mat-label>
                  <input matInput type="text">
                </mat-form-field>
              
                <mat-form-field>
                  <mat-label>Password :</mat-label>
                  <input matInput type="password">
                </mat-form-field>

                <div fxLayoutAlign="end">
                    <button mat-raised-button color="accent" routerLink="/register">Register</button>
                    <button mat-raised-button color="primary" type="submit">Login</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
