.card {
    padding: 0px;
}
.body {
    padding: 50px 100px;
}
.header {
    background-color: #673ab7;
    color: white;
    font-size: 25px;
    font-weight: 300;
    padding: 15px 15px 15px 0px;
}
button {
    margin: 15px 0px 0px 15px;
}